<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.des.client.mapper.question.QuestionInfoMapper">
    <select id="queryListByPage" parameterType="com.des.client.entity.question.condition.QueCondition"
            resultType="com.des.client.entity.question.QuestionPre">
        SELECT *
        FROM (
        SELECT *
        FROM (
        SELECT p.title, p.createtype, p.`from`, p.`level`, p.origin
        , p.`owner`, p.site, p.time, q.content, t.`name` AS type
        FROM e_question_pre p, e_question q, e_type t
        WHERE p.contentid = q.id
        AND p.type = t.id
        ) o
        WHERE
        1=1
        <if test="key!=null and key!=''">
            AND title LIKE concat('%',#{key},'%')
        </if>
        <if test="types!=null">
            <foreach collection="types" item="type" separator="," open="and type in(" close=")">
                #{type,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="levels!=null">
            <foreach collection="levels" item="level" separator="," open="and level in(" close=")">
                #{level,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="times!=null">
            <foreach collection="times" item="time" separator="," open="and Date(time) in(" close=")">
                #{time,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="owner!=null and owner!=''">
            AND owner = #{owner}
        </if>
        ) f
        <if test="start != 0 and size != 0">
            limit #{start},#{size}
        </if>
    </select>
</mapper>