<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.des.client.mapper.make.PaperMapper">
    <select id="getPaperListByUser" parameterType="java.lang.String"
            resultType="com.des.client.entity.paper.Paper">
        SELECT
        p.*
        FROM
        E_PAPER p
        WHERE
        p.owner = #{owner}
    </select>
    <select id="getQuestionListByPaper" parameterType="java.lang.String"
            resultType="com.des.client.entity.question.QuestionPre">
        SELECT
        p.*
        FROM
        E_QUESTION_PRE p
        WHERE
        p.id in (
        select question_id from e_paper_question
        where paper_id=#{paperId}
        )
    </select>
    <select id="findPaperInvigilates" parameterType="java.lang.String"
            resultType="com.des.client.entity.paper.Invigilates">
        SELECT
        *
        FROM
        E_INVIGILATE i
        WHERE
        i.id = #{invid}
    </select>
    <select id="hasPaper" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        E_PAPER p
        WHERE
        p.title = #{title}
        AND
        p.owner = #{owner}
    </select>
    <insert id="savePaper" parameterType="com.des.client.entity.paper.Paper">
        INSERT INTO E_PAPER
        VALUES(
        #{id},
        #{title},
        #{type},
        #{remark},
        #{code},
        #{owner},
        #{imgUrl},
        #{status},
        #{personal},
        #{level},
        #{del},
        #{time})
    </insert>
    <update parameterType="com.des.client.entity.paper.Paper" id="updatePaper">
UPDATE E_PAPER p
set
title=#{title},type=#{type},remark=#{remark},
imgUrl=#{imgUrl},status=#{status},personal=#{personal},level=#{level}
where code=#{code} and owner=#{owner}
    </update>
</mapper>