<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.des.client.mapper.make.PaperInfoMapper">
    <select id="getPaperTypeByUser" parameterType="java.lang.String"
            resultType="com.des.client.entity.paper.PaperType">
        SELECT
        p.*
        FROM
        E_PAPER_TYPE p
        WHERE
        p.user_id = #{owner}
    </select>

</mapper>